.scroll {
  height: calc(100vh - 300rpx);
}

.row-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.row-title .avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
}

.row-title .info {
  margin-left: 30rpx;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-title .info .deleted {
  text-decoration: line-through;
  color: red;
}

.row-title .info .member-id {
  font-size: 24rpx;
}