// this is a globle for each page
.nav-bar {
  background: #346Fc2;
  color: white;
}

.flex-wrap {
  flex-wrap: wrap;
}

.view-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.view-row-centre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.view-row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.view-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.view-column-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// icons
.icon16 {
  height: 32rpx;
  width: 32rpx;
}

.icon24 {
  height: 48rpx;
  width: 48rpx;
}

.icon48 {
  height: 96rpx;
  width: 96rpx;
}

.icon72 {
  height: 144rpx;
  width: 144rpx;
}

.icon96 {
  height: 192rpx;
  width: 192rpx;
}

// layout
.ml-10 {
  margin-left: 10rpx;
}

.mr-10 {
  margin-right: 10rpx;
}

// display
.display-name {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}