.nav-bar {
  background: #346Fc2;
  color: white;
}

.t-navbar {
  --td-navbar-color: white;
  --td-navbar-bg-color: #346Fc2;
}

.t-title {
  --td-navbar-title-font-size: 34rpx;
  --td-navbar-title-font-weight: 500;
}

.view-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.view-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}