.title {
  display: flex;
  justify-content: space-between;
  height: 60rpx;
  background-color: white;
  align-items: center;

  .txt {
    font-size: 30rpx;
    height: 100%;
    position: relative;
    padding-left: 20rpx;
    display: flex;
    align-items: center;
  }

  .txt::before {
    display: block;
    width: 8rpx;
    height: 34rpx;
    background: #2D8DB8;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18rpx;
  }

  .more {
    font-size: 28rpx;
  }
}