.weui-navigation-bar {
  position: absolute;
  overflow: hidden;
  font-size: 20px;
  color: #3f3e3e;
  letter-spacing: 2rpx;
  width: 100vw;
  background: linear-gradient(rgba(52, 111, 194), rgb(143, 180, 218, 0.69));
}

.weui-navigation-bar__placeholder {
  background: #f7f7f7;
  position: relative;
}

.weui-navigation-bar__inner {
  position: relative;
  padding-right: 95px;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  
  .left {
    position: relative;
    padding-left: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .center {
    font-size: 17px;
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}