module.exports.includesUser = function (attendees, memberId) {
  var findMatch = false;
  for (var i = 0; i < attendees.length; i++) {
    var user = attendees[i];
    if (user.memberId === memberId) {
      findMatch = true;
    }
  }
  return findMatch;
};

module.exports.includes = function (array, element) {
  if (!array) return false;
  var findMatch = false;
  for (var i = 0; i < array.length; i++) {
    var item = array[i];
    if (item === element) {
      findMatch = true;
    }
  }
  return findMatch;
};

module.exports.slice = function (attendees, start, count) {  
  var outputArray = [];
  for (var i = 0; i < attendees.length; i++) {         
    if (i >= start && (!count || i <= count)) {
      outputArray.push(attendees[i]);
    }
  }
  return outputArray;
};

module.exports.sliceAttendees = function (attendees, start, count) {
  var attendeesCount = 0;
  var outputArray = [];

  for (var i = 0; i < attendees.length; i++) {
    var att = attendees[i];
    var each = 1 + (att.joinMore || 0);
    attendeesCount = attendeesCount + each;

    if (attendeesCount > start && (!count || attendeesCount <= count)) {
      outputArray.push(att);
    }
  }

  return outputArray;
};

module.exports.countAttendees = function (attendees) {
  var attendeesCount = 0;
  for (var i = 0; i < attendees.length; i++) {
    var each = 1 + (attendees[i].joinMore || 0);
    attendeesCount = attendeesCount + each;
  }
  return attendeesCount;
};

module.exports.getCurrentYear = function () {
  // when use new Date() the compiler will throw exception of Unexpected identifier `Date`
  // use build-in getDate() for date.
  return getDate().getFullYear();
};

module.exports.first = function (array, key, element) {
  if (!array) return null;
  var findMatch = null;
  for (var i = 0; i < array.length; i++) {
    var item = array[i];
    if (item[key] === element) {
      findMatch = item;
    }
  }
  return findMatch;
};