input,
label,
picker,
text,
.weui-label {
  font-size: 28rpx;
}

.weui-label {
  width: 150rpx;
}

.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .actived {
    border-bottom: 2px solid transparent;
    border-bottom-color: #90CAF9;
  }
}

.wrap-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.wrap-row .pic {
  width: 150rpx;
  height: 150rpx;
  border-radius: 20%;
  margin: 10rpx;
}

.bottom-btn-area {
  margin-top: 40rpx;
  padding-bottom: 100rpx;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}


// attendee page
.row-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  height: 42rpx;
  width: 48rpx;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin-left: 20rpx;
}