input,
label,
picker,
text,
.weui-label {
  font-size: 28rpx;
}

.weui-cell {
  padding: 11px 16px;
}

.weui-label {
  width: 150rpx;
}

.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .actived {
    border-bottom: 2px solid transparent;
    border-bottom-color: #90CAF9;
  }
}

.coverImage {
  width: 150rpx;
  height: 150rpx;
  border-radius: 20%;
  margin: 10rpx;
}

.bottom-btn-area {
  margin-top: 40rpx;
  padding-bottom: 100rpx;
}

// attendee page
.avatar {
  width: 80rpx;
  height: 80rpx;
  border-radius: 10rpx;
}

.footer-icon {
  height: 64rpx;
  width: 64rpx;
  margin: 0 15rpx;
}

.column-section {
  display: flex;
  flex-direction: column;
  margin-left: 20rpx;
}

// group and score page
.court-group-column {
  width: 16%;
}

.match-column {
  width: 35%;
}

// Dialogs
.gender-box {
  border: #c5c5c57e 1px solid;
  padding: 5px 15px;
  border-radius: 20px;
  color: #b9b9b9;
}

.selected {
  border-color: #346fc2;
  background: #346fc247;
  color: black;
}

// result page
.section-result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10rpx 0rpx;
}

.column-result-name {
  width: 34%;
  text-align: center;
}

.column-result {
  width: 21%;
  text-align: center;
}